.App {
  text-align: center;
  margin: 20px;
}

.container{
  width: 400px;
  height: 400px;
}

.btn{
  display: grid;
  grid-template-columns: repeat(4,50px);
}
button{
  height: 50px;
  background-color: white;
  border: 1px solid lightslategray;
}
button.operator{
  background-color: lightgray;
}

.display{
  grid-column-start: 1;
  grid-column-end: 5;
  height: 50px;
  font-size: 30px;
  text-align: right;
  border: 1px solid black;
  padding-right: 12px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
